---
import Garment from "./garment.astro";
const {data} = Astro.props;
---

    <article>
<div>
    <div class="overskrift">
        <h3>{data.id}.</h3>
        <h3>{data.overskrift}</h3>
    </div>
            <div class="kunstner">
                <h4>pris: <span class="normal-text">{data.price}</span></h4>
            </div>
            <div >
                <h4>Lokation: <span class="normal-text">{data.forretning}</span></h4>
            </div>
            <div>
                <img src={data.billede} alt="billede">
            </div>
        </article>