---
import Menu from '../../Menu.astro';
export async function getStaticPaths () {
    const data = await fetch ('https://bifxyvyrqkafduaqfwhe.supabase.co/rest/v1/kabomani?select=*', {
	method: "GET",
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpZnh5dnlycWthZmR1YXFmd2hlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1MjkzNTksImV4cCI6MjAzMTEwNTM1OX0.IqWoAtIBkjXXKbFnJ9BDvFcyIpgl8_3ZWTFgC0wfLlo"
	},
}).then(response => response.json ());

    return data.map ((shop)=> {
        return {
            params: { id: shop.id},
            props: {myData:shop},
        };
        
        });
    }
    const {myData} = Astro.props;
    console.log(myData)
    
---

<Menu/>
<div class="billede">
    <img src={myData.billede} alt=""></div>

    <div class="">
        <div class="">
            <h2>{myData.overskrift}</h2>
        </div>
        <div class="">
            <h3>Pris: <span class="normal-text">{myData.price}</span> DKK</h3>
            <h3>Forretning: <span class="normal-text">{myData.forretning}</span></h3>
            <h3>Størrelse:<span>{myData.size}</span></h3>

        </div>
        <div class="beskrvelse">
            <p>{myData.beskrivelse}</p>
        </div>
    </div>