---
import Menu from '../../Menu.astro';
import Footer from "../../layout/Footer.astro"
import Button from "../componenter/Button.astro";

export async function getStaticPaths () {
    const data = await fetch ('https://bifxyvyrqkafduaqfwhe.supabase.co/rest/v1/kabomani?select=*', {
	method: "GET",
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpZnh5dnlycWthZmR1YXFmd2hlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1MjkzNTksImV4cCI6MjAzMTEwNTM1OX0.IqWoAtIBkjXXKbFnJ9BDvFcyIpgl8_3ZWTFgC0wfLlo"
	},
}).then(response => response.json ());

    return data.map ((shop)=> {
        return {
            params: { id: shop.id},
            props: {myData:shop},
        };
        
        });
    }
    const {myData} = Astro.props;
    console.log(myData)
    
---

<Menu/>

<div class="sti">
<p>Hjem</p>
<p>></p>
<p>Tøj</p>
<p>></p>
<p>{myData.overskrift}</p>
</div>

<div class="img_container">
    <img src={myData.billede} alt="">
</div>

    <div class="">
        <div class="produktnavn">
            <h2>{myData.overskrift}</h2>
        </div>
        <div class="">
            <h3 class="pris">Pris: <span class="">{myData.price}</span> DKK</h3>
            <p class="beskrivelse">{myData.beskrivelse}</p>
              <h3 class="størrelse">Størrelse:<span>{myData.size}</span></h3>
            <h3 class="forretning">Forretning: <span class="">{myData.forretning}</span></h3>
        </div>
    </div>


<Button/>

<!-- <button class="hjerte"></button> -->

<Footer/>

<style>

    /* STYLING */
h2{
    color: #262521;
}

h3, p{
    color: #262521;
    opacity: 70%;
}


.hjerte{
    width: 42px;
    height: 40px;
    background-image: url('/png/hjerte.png');
    background-size: contain; /* Adjust the image size to cover the button */
    background-repeat: no-repeat;
}

.hjerte:hover{
    background-color: #C8D94A;
}

/* LAYOUT */

.sti{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img_container {
    width: 550px;
    height: 600px; 
    overflow: hidden; /* Hide any overflow */
}

.img_container img {
    width: 100%;  /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Crop the image to fit the container */
}
</style>